<div class="parent">
  <!-- <button type="button" (click)="changeTestValue()">Change Value</button>

  <pre>Val: {{x.testValue}}</pre>

  <app-header></app-header>

  <div class="feedbacks">
    <app-feedback *ngFor="let c of info" [theData]="c"></app-feedback>
  </div> -->

  <a [routerLink]="'auth/signup'">
    Go to signup
  </a>

  <a [routerLink]="'auth/login'">
    Go to login
  </a>

  <!-- <button type="button" (click)="navToLogin()">

    Go to login
  </button> -->

  <router-outlet></router-outlet>
</div>